html {
    height: 100%;
    box-sizing: border-box;
}


body{
     position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: #222;
}

#logo {

    margin-top: 3px;
    margin-bottom: 1px;
    margin-left: 10px;
    width: 4%;

}

#header div {

    margin-top: 20px;
    float: right;
    margin-right: 10px;

}

h3{
	color:  #232F3E;
    margin-top: 25px;
    vertical-align: top;
	font-family: 'Signika', sans-serif;

}


h3 , #logo {

	display: inline-block;
}


#header {

    padding-top: 1px;
    padding-bottom: 3px;
    background-color: ivory;
	
}

h1{
    color: white;
}


.box {
    padding-top: 25px;
}


button{
    margin-top: 6px;
    margin-right: 3px;
    border: 1px solid black;
    color: #222;
    background:white;
    border-radius: 3px;
    font-size: 18px; 
}

button:hover{
    cursor: pointer;
}


#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: ivory;
    text-align: center;
}


#footer div {
    color: black;
    margin: 0 auto; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
}   